@import '../../../config/rem-calc.scss';

:host {
  .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.5rem;
  }

  img {
    position: absolute;
  }

  h2 {
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: rem-calc(230);
    padding-top: rem-calc(120);
    color: var(--branco);
    font-size: rem-calc(42);
    font-weight: 700;
  }

}
